@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:after,
:before {
  box-sizing: border-box;
}

.light {
  --color-background: 250, 249, 249;
  --color-sub-background: 255, 255, 255;
  --color-primary-background: 240, 236, 235;
  --color-text: 33, 36, 38;
  --color-accent: 255, 110, 91;
  --color-accent-soft: 255, 134, 118;
  --syntax-background: 255, 110, 91;
}

.dark {
  --color-background: 33, 36, 38;
  --color-sub-background: 53, 54, 58;
  --color-primary-background: 80, 82, 89;
  --color-text: 255, 255, 255;
  --color-accent: 252, 200, 43;
  --color-accent-soft: 255, 134, 118;
  --syntax-background: 53, 54, 58;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font: "IBM Plex Sans KR", system-ui, -apple-system;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  color: var(--color-text);
}

@layer base {
  body {
    @apply bg-background-default text-text-default;
  }
  h1 {
    @apply text-2xl font-semibold text-text-default;
  }

  h2 {
    @apply text-[1.3rem] font-medium text-text-default;
  }

  h3 {
    @apply text-[1rem] font-medium text-text-default;
  }

  input.switch:checked ~ span .dot {
    --tw-translate-x: 1.5rem; /* translate-x-7 */
  }

  hr {
    @apply border-text-default/50;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 1.8rem;
  }

  .blog-post .anchor.before {
    top: 50%;
    transform: translate(-100%, -50%);
    padding-right: 10px;
  }

  .blog-post h1,
  .blog-post h2,
  .blog-post h3 {
    scroll-margin-top: 4rem;
    margin: 1rem 0 1.5rem;
    letter-spacing: -0.025em;
    padding: 0;
    font-weight: 700;
    cursor: pointer;
  }

  .blog-post h1 code {
    background: transparent;
    font-size: 1.5rem;
    @apply text-text-default;
  }

  .blog-post h1 code::before {
    content: "`";
    @apply text-accent-default font-extrabold;
  }
  .blog-post h1 code::after {
    content: "`";
    @apply text-accent-default;
  }
  .blog-post h2 {
    margin: 1rem 0 1rem;
  }
  .blog-post h3 {
    margin: 0.5rem 0 0.5rem;
  }

  .blog-post section hr {
    @apply border-text-default border-opacity-30;
    display: block;
    width: 60%;
    height: 1px;
    margin: 4rem auto 2em;
    padding: 0;
  }

  .blog-post p {
    margin-bottom: 1.5rem;
  }

  .blog-post ul,
  ol {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .blog-post ol {
    list-style-type: none;
    counter-reset: counter;
  }

  .blog-post ul li {
    list-style: outside;
    margin: 0 0 0.5rem 1rem;
    padding-left: 0.5rem;
  }

  .blog-post ul li::marker {
    content: "→";
    @apply text-accent-default font-bold;
  }

  .blog-post ol li {
    margin-bottom: 0.5rem;
  }

  .blog-post ol li::before {
    font-family: "Fira Code";
    counter-increment: counter;
    font-style: italic;
    content: counter(counter) ".";
    color: var(--color-text);
    /* font-family: var(--font); */
    font-size: 20px;
    line-height: 18px;
    text-align: center;
  }

  .blog-post pre {
    margin-bottom: 2rem;
  }
  .blog-post img {
    margin-bottom: 2rem;
  }

  .blog-post section a {
    @apply text-accent-default underline decoration-accent-default;
  }

  .blog-post blockquote {
    font-family: "Gowun Dodum";
    @apply italic pl-3 border-l-[4px] border-opacity-70 border-accent-default;
  }
}
